# my ignores
**/.idea/
**/.DS_Store
**/node_modules/
**/coverage/
**/.vscode/

# env files
*.env

# webpack
# **/dist/

# react
**/build/

# next
.next

# cmake files
**/build/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/Testing/
**/.cmake/
**/cmake-build-debug/
**/build.ninja
**/.ninja_deps
**/.ninja_log

# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore