@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
  box-sizing: border-box;
  font-size: var(--font-size);
}

*, ::after, ::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  padding: 1em;
  height: 100vh;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //flex-direction: column;
  
  font-family: var(--font-family);
  
  background-color: var(--color-neutral--cream);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }